.workitempage_wrapper {
  width: 100%;
  max-width: 800px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;min-height: 90vh;

}

.workitempage_header {
  font-size: 34px;
  font-weight: 700;
}
.work_main_picture, .workitem_picture {
  margin: auto;
  width: 98%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid rgb(150, 150, 150);
  border-radius: 6px;
}


.workitempage_year_tags {
  display: flex;
  gap: 24px;
  align-items: center;
}

.workitempage_year {
  background-color:#FF7C7C;
  ;
  width: 63px;
  height: 26px;
  border-radius: 16px;
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: 900;
}

.workitempage_tags {
  display: flex;
  gap: 12px
}

.workitempage_tags a {
  text-decoration: none;
  color: #8695A4;
  font-size: 20px;
  font-weight: 400;
}

.workitempage_contents {
  display: flex;
  flex-direction: column;
}

.workitempage_contents h1 {
  font-size: 30px;
  font-weight: 500;
}

.workitempage_contents h2 {
  font-size: 24px;
  font-weight: 500;
}

@media (max-width: 450px) {
 .workitempage_wrapper {
  width: auto;
  padding: 0 16px;
  margin-top: 60px;
 }
  .workitempage_header {
    font-size: 30px;
    line-height: 40px
  }
  .workitempage_tags {
    gap: 8px
  }
  .workitempage_tags a {
    font-size: 16px;
  }
  .workitem_picture, .work_main_picture {
    width: 93vw;
    height: 71vw;
  }

  .workitempage_contents h1 {
    font-size: 26px;
  }

  .workitempage_contents h2 {
    font-size: 20px;
  }
}